multi-agent-customer-service/json files/SalesAgent.json
{
  "name": "SalesAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are the Sales specialist for BrightDesk, an office furniture company. You help customers with questions about products, prices, features, shipping, and recommendations.\n\nYou have access to the BrightDesk product knowledge base. Use it to look up accurate product information, prices, and specifications before answering. Never invent prices or details — always base your answers on the knowledge base.\n\nBe friendly, helpful, and concise. If a customer seems interested in a product, you can suggest relevant options or bundles. If a question is not about products or sales (for example a complaint or a billing issue), say it's outside your area."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "5ad86da5-6d23-4eb1-a19a-5e45d76c0ec6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "ba8ef429-949a-459c-bc5b-754bfac69324",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YwSuiNOptlBtmpMQ",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "a2c71b81-86d9-41f9-a1b3-474f208f6f4b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this Tool the answers the user's questions about  products, prices, features, shipping, and recommendations.",
        "documentId": {
          "__rl": true,
          "value": "1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro",
          "mode": "list",
          "cachedResultName": "SupaDataBase2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        528,
        208
      ],
      "id": "27fa25fd-e1b4-427d-8cfc-f92c86f211b9",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g0svfFvPMUPPNlMd",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "SALES SUB-AGENT\nAnswers product, pricing & shipping questions.\nLooks up the BrightDesk product knowledge base (Google Sheets).",
        "height": 480,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -96
      ],
      "id": "4ad1a549-1a95-4a29-9af7-56b58b1aa674",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82fddc94-4e2c-43b0-8fbd-c3e405518bfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b841f95498d3b48a5fcd832e4e741fe811275e87c53b729b900a5ec88b629438"
  },
  "nodeGroups": [],
  "id": "XvHqeYCOCf0UmDMd",
  "tags": []
}
