order priority summary/OrderPrioritySummary.json
{
  "name": "Priority&SummarizationAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "f697b6a0-602e-4949-8e97-1d14752f713b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xLIR3EHbiG9e-fD4y6Q0awehmh7dR0lUv2t5ZCMUj60",
          "mode": "list",
          "cachedResultName": "CostumersEx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xLIR3EHbiG9e-fD4y6Q0awehmh7dR0lUv2t5ZCMUj60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xLIR3EHbiG9e-fD4y6Q0awehmh7dR0lUv2t5ZCMUj60/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        112
      ],
      "id": "d29f5882-bc86-4ea1-999d-d7b04c75c377",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g0svfFvPMUPPNlMd",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "amount",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        448,
        112
      ],
      "id": "6cf407ee-3aa1-4102-8d83-c852b4710ef4",
      "name": "Sort"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a89ddf0c-0f31-4136-9c3f-e46dd8ae6aa1",
                    "leftValue": "={{ Number($json.amount) }}",
                    "rightValue": 600,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1fc5cefd-e67c-45d4-9f44-d10cfca3a176",
                    "leftValue": "={{ Number($json.amount) }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8e6b45a6-4c0a-4766-bc7f-88a4bdb35a94",
                    "leftValue": "={{ Number($json.amount) >= 200 && Number($json.amount) <= 599 }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "cd8da94e-f47e-4324-861d-7888df4f41f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        96
      ],
      "id": "233f0e6f-39ce-4f00-b372-8fff7bcc5c55",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14b061d6-fa3d-44cc-b408-cad8246a7a4d",
              "name": "priority",
              "value": "High",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -80
      ],
      "id": "740988a2-f54c-4f0c-b466-9f5b9456a16f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3fa73f9-b981-4ee8-a785-93479155932a",
              "name": "priority",
              "value": "Low",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        112
      ],
      "id": "93a3490a-e0cd-4aff-82b3-657b3b1647c6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7a15e56-0559-423e-a0f3-ccb841685bbe",
              "name": "priority",
              "value": "Medium",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        304
      ],
      "id": "9f7a7990-a555-4378-b46c-69541933fac5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Sort items by priority order: high, medium, low\nconst order = { high: 1, medium: 2, low: 3 };\nitems.sort((a, b) => order[a.json.priority] - order[b.json.priority]);\n\n// Build a text line for each order\nconst lines = items.map(item => {\n  const o = item.json;\n  return `[${o.priority.toUpperCase()}] ${o.customer} — ${o.product} — $${o.amount}`;\n});\n\n// Join into one summary\nconst summary = lines.join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      summary: summary\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ],
      "id": "bba448a9-df54-4775-836f-cf7bc147c420",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "eranh112@gmail.com",
        "subject": "Summary",
        "message": "={{ $json.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        112
      ],
      "id": "e417696a-bfd6-4e3c-9736-112f4bb2fa29",
      "name": "Send a message",
      "webhookId": "f827eb3a-84ad-4d03-beae-5388f8b6781e",
      "credentials": {
        "gmailOAuth2": {
          "id": "wh2XQhbcNOCj5zgn",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "# ROUTE BY PRIORITY\n## Reads orders from Google Sheets, sorts them, and routes each\n## by priority (High / Medium / Low) with a Switch. Each group is\n## tagged by its own Edit Fields node.",
        "height": 624,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -160
      ],
      "id": "5e901844-1529-49fc-a734-036f4567b2f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# SUMMARIZE AND EMAIL\n## The groups are merged back together. A Code node calculates\n## totals and builds a summary, which is then emailed as a report.",
        "height": 608,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -160
      ],
      "id": "a32fc958-8001-4c19-a640-6bd00bd08cec",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5af836c9-a07a-496f-9c2e-85c35dd6c253",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b841f95498d3b48a5fcd832e4e741fe811275e87c53b729b900a5ec88b629438"
  },
  "nodeGroups": [],
  "id": "ExtzcXOE9XMOPAj3",
  "tags": []
}